body {
	background-color: black;
	color: white;
	margin-top: 50px;
}
/*  Navigation Styles */
.navbar-brand {
	padding-bottom: 0px;
	padding-top: 0px;
}

nav.navbar.navbar-inverse {
	margin-bottom: 0px;
}
/* Home Page Styles */
.carousel-img {
	height: 300px !important;
	margin-left: auto;
	margin-right: auto;
}
.title {
	font-size: 24px;
}
.next {
	position: absolute;
	right: 0px;
}
.previous {
	position: absolute;
	left: 0px;
}

.container {
	margin: 0 auto;
}
form Button {
	margin: 0 auto;
}
.subtitle {
	font-size: 16px;
}

.chunk {
	padding-bottom: 32px;
}

.form-control {
	margin-bottom: 16px;
}

.form-input {
	margin-bottom: 16px;
}

@media only screen and (min-width: 500px) {
	.carousel-img {
		height: 600px !important;
	}
}

/* .countdown {
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
}

.countdown p {
	padding-right: 20px;
	border-right: 1px solid #fff;
}

.home {
	height: 100vh;
	color: white;
	background: url(/images/iyc2.png) no-repeat center center fixed;
	background-size: cover;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.option {
	margin: 2px;
	font-weight: normal;
}

.registration-form {
	background-color: white;
}

.participation {
	display: flex;
	flex-direction: row;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.participation label {
	/*margin:10px;
}

.checkbox {
	display: none;
} */
