body {
	background-color: black;
}
/*  Navigation Styles */
.navbar-brand {
	padding-bottom: 0px;
	padding-top: 0px;
}

nav.navbar.navbar-inverse {
	margin-bottom: 0px;
}
/* Home Page Styles */
.carousel-img{
	width: 100%;
	height: 600px !important;
}


/* .countdown {
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
}

.countdown p {
	padding-right: 20px;
	border-right: 1px solid #fff;
}

.home {
	height: 100vh;
	color: white;
	background: url(/images/iyc2.png) no-repeat center center fixed;
	background-size: cover;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.option {
	margin: 2px;
	font-weight: normal;
}

.registration-form {
	background-color: white;
}

.participation {
	display: flex;
	flex-direction: row;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.participation label {
	/*margin:10px;
}

.checkbox {
	display: none;
} */
